/src/__pycache__/
/cookbooks/
/outputs/*
!/outputs/.gitignore
/tmp/librarian/
/.vagrant/*
/.chef/*
/.vagrant/
/.chef/
/.idea
tmp*
/Tomasulo/nbproject/private/
/projects/*
!/projects/.gitignore
/.DS_Store

